<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>Create a MadLibs!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQapFmC26EwaOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<h1>Make a MadLibs</h1>
<form action="/libs" method="post">
  <label for="verbing">A verb ending in "ing"</label>
  <input id="verbing" name="verbing" type="text">

  <label for="verbing2">A verb ending in "ing"</label>
  <input id="verbing2" name="verbing2" type="text">
  
  <label for="verbing3">A verb ending in "ing"</label>
  <input id="verbing3" name="verbing3" type="text">
  
  <label for="verbing4">A verb ending in "ing"</label>
  <input id="verbing4" name="verbing4" type="text">
  
  <label for="adjective">An adjective</label>
  <input id="adjective" name="adjective" type="text">
  
  <label for="adjective2">An adjective</label>
  <input id="adjective2" name="adjective2" type="text">
  
  <label for="adjective3">An adjective</label>
  <input id="adjective3" name="adjective3" type="text">
  
  <label for="pluralNoun">A plural noun</label>
  <input id="pluralNoun" name="pluralNoun" type="text">
  
  <label for="pluralNoun2">A plural noun</label>
  <input id="pluralNoun2"name="pluralNoun2" type="text">
  
  <label for="pluralNoun3">A plural noun</label>
  <input id="pluralNoun3"name="pluralNoun3" type="text">
  
  <label for="pluralNoun4">A plural noun</label>
  <input id="pluralNoun4"name="pluralNoun4" type="text">
  
  <label for="noun">A noun</label>
  <input id="noun" name="noun" type="text">
  
  <label for="noun2">A noun</label>
  <input id="noun2" name="noun2" type="text">
  
  <label for="noun3">A noun</label>
  <input id="noun3" name="noun3" type="text">
  
  <label for="game">A game</label>
  <input id="game" name="game" type="text">
  
  <label for="plant">A plant</label>
  <input id="plant" name="plant" type="text">
  
  <label for="bodyPart">A body part</label>
  <input id="bodyPart" name="bodyPart" type="text">
  
  <label for="place">A place</label>
  <input id="place" name="place" type="text">
  
  <label for="number">A number</label>
  <input id="number" name="number" type="text">
<button type="submit">Go!</button>
</form>
</body>
</html>

@* 
string verbing,
string verbing2,
string verbing3,
string verbing4,
string adjective,
string adjective2,
string adjective3,
string pluralNoun,
string pluralNoun2,
string pluralNoun3,
string pluralNoun4,
string noun,
string noun2,
string noun3,
string game,
string plant,
string bodyPart,
string place,
string number,
*@



